
    <div class="row padding">
        <div class="col-sm-6 col-xs-12 text-right hidden-xs">
          <a class="Liability-div">
            <div class="wal-lia-box">
                <div class="wall-bal-head"> <span>Balance :</span> {{$root.Balance}}</div><div class="liab-bal-head"><span> Liability :</span> {{$root.Liability}} </div>
            </div>
          </a>
      </div>

         <div class="col-sm-6 col-xs-6 text-right right-notification">
          <md-menu md-position-mode="target-right target" md-offset="0 58">
              <a ng-click="$mdOpenMenu()"> 
                  <i class="fa fa-cog"></i>&nbsp;{{$root.user}}
              </a>
                <md-menu-content class="user-links top-menu-cont">
                    <md-button ui-sref="masterDashboard.changePasswordUser"><span class="drp-txt">Change Password</span></md-button>
                    <md-button ui-sref="masterDashboard.Get_bethistryCntr"><span class="drp-txt">Bet History</span></md-button>
                     <md-button ui-sref="masterDashboard.Profitlosscntr"><span class="drp-txt">Profit & Loss</span></md-button>
                     <md-button> <a ng-click="logout();" >Logout</a></md-button>
                </md-menu-content>
          </md-menu>
          </div>

          <div class="col-sm-6 col-xs-12 text-center visible-xs">
          <a>
            <div class="wal-lia-box">
                <div class="wall-bal-head"> <span>Balance :</span> {{$root.Balance}}</div><div class="liab-bal-head"><span> Liability :</span> {{$root.Liability}} </div>
            </div>
          </a>
        </li>
      </div>

    </div>

     



